## 데이터 EDA과정

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('./Dataset/mk_target.csv',encoding='euc-kr',index_col=0)
df

                    거래소코드     회계년도 감사의견코드
회사명
(유)그룹세브코리아          13171  2019/12    NaN
(유)그룹세브코리아          13171  2020/12     UQ
(유)그룹세브코리아          13171  2021/12     UQ
(유)그룹세브코리아          13171  2022/12     UQ
(유)디에스브이에어앤씨인터내셔널  104275  2021/12    NaN
...                   ...      ...    ...
힐중공업주식회사            82007  2017/12     QS
힐중공업주식회사            82007  2018/12     QU
（주）신미코스메틱           85105  2017/12    NaN
（주）신미코스메틱           85105  2018/12     UQ
（주）신미코스메틱           85105  2019/12     UQ

[294820 rows x 3 columns]

In [3]:
df.isna().sum()

거래소코드         0
회계년도          0
감사의견코드    32934
dtype: int64

In [4]:
df[df['감사의견코드']=='ZZ']

           거래소코드     회계년도 감사의견코드
회사명
(주)제이더블유엘  58276  2012/12     ZZ

In [5]:
df['감사의견코드'].value_counts()

감사의견코드
UQ    239780
QS     13023
DU      3604
DS      2559
QG      1208
QU      1152
AG       527
QQ        27
QA         4
ZZ         1
DI         1
Name: count, dtype: int64

In [6]:
df['감사의견코드']=df['감사의견코드'].map({
    'AG':'부적정',
    'DS':'의견거절',
    'DI':'의견거절',
    'DU':'의견거절',
    'QA':'한정',
    'QC':'한정',
    'QG':'한정',
    'QQ':'한정',
    'QS':'한정',
    'QU':'한정',
    'UQ':'적정',
    'ZZ':'ZZ'

})

In [7]:
df['감사의견코드'].isna().sum()

32934

In [8]:
df['감사의견코드'].value_counts()

감사의견코드
적정      239780
한정       15414
의견거절      6164
부적정        527
ZZ           1
Name: count, dtype: int64

In [9]:
(15414+6164+527)/239780

0.09218867295020436

In [10]:
(15414+6164+527)

22105

In [11]:
df.isna().sum()

거래소코드         0
회계년도          0
감사의견코드    32934
dtype: int64

* 감사의견 코드 ZZ가 뭘까?

In [12]:
df[df['감사의견코드']=='ZZ']

           거래소코드     회계년도 감사의견코드
회사명
(주)제이더블유엘  58276  2012/12     ZZ

In [13]:
df['감사의견코드']=df['감사의견코드'].map({
    '적정':0,
    '한정':1,
    '부적정':1,
    '의견거절':1

})

In [14]:
df['감사의견코드'].value_counts()

감사의견코드
0.0    239780
1.0     22105
Name: count, dtype: int64

In [15]:
len(df[df['감사의견코드']==1].index.unique())

14793

In [16]:
df1=pd.read_csv('./Dataset/중견1.csv',encoding='euc-kr',index_col=0)
df2=pd.read_csv('./Dataset/중견2.csv',encoding='euc-kr',index_col=0)
df=pd.concat([df1,df2],axis=0)

In [17]:
df.to_csv('중견기업.csv',encoding='euc-kr')

In [18]:
len(df.index.unique())

5568

In [19]:
#########################################################################################################################################################

In [20]:
df2=pd.read_csv('./Dataset/mk_target2.csv',encoding='euc-kr',index_col=0)

In [21]:
df2['감사의견코드'].value_counts()

감사의견코드
UQ    236730
QS     13901
DU      3772
DS      2632
QG      1272
QU      1194
AG       533
QQ        28
QA         4
ZZ         1
DI         1
Name: count, dtype: int64

In [22]:
df2['감사의견코드']=df2['감사의견코드'].map({
    'AG':'부적정',
    'DS':'의견거절',
    'DI':'의견거절',
    'DU':'의견거절',
    'QA':'한정',
    'QC':'한정',
    'QG':'한정',
    'QQ':'한정',
    'QS':'한정',
    'QU':'한정',
    'UQ':'적정',
    'ZZ':'ZZ'

})

In [23]:
df2['감사의견코드']=df2['감사의견코드'].map({
    '적정':0,
    '한정':1,
    '부적정':1,
    '의견거절':1

})

In [24]:
df2['감사의견코드'].value_counts()

감사의견코드
0.0    236730
1.0     23337
Name: count, dtype: int64

In [25]:
df2

,거래소코드,회계년도,산업코드,산업명,설립일,상장일,기업규모코드,감사의견코드
회사명,,,,,,,,
(주)KAL호텔네트워크,29255,2012/12,95501,숙박업,2001/05/16,0000/00/00,10.0,0.0
(주)KAL호텔네트워크,29255,2013/12,95501,숙박업,2001/05/16,0000/00/00,10.0,0.0
(주)KAL호텔네트워크,29255,2014/12,95501,숙박업,2001/05/16,0000/00/00,10.0,0.0
(주)KAL호텔네트워크,29255,2015/12,95501,숙박업,2001/05/16,0000/00/00,10.0,0.0
(주)KAL호텔네트워크,29255,2016/12,95501,숙박업,2001/05/16,0000/00/00,10.0,0.0
...,...,...,...,...,...,...,...,...
힐티코리아주식회사,10534,2018/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,0.0
힐티코리아주식회사,10534,2019/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,0.0
힐티코리아주식회사,10534,2020/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,0.0
힐티코리아주식회사,10534,2021/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,20.0,0.0
힐티코리아주식회사,10534,2022/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,0.0

In [26]:
len(df2.index.unique())

51261

In [27]:
df2.isna().sum()

거래소코드         0
회계년도          0
산업코드          0
산업명           0
설립일         297
상장일          12
기업규모코드     2961
감사의견코드    34006
dtype: int64

In [28]:
len(df2[df2['감사의견코드']==1].index.unique())

16276

In [29]:
df2['감사의견코드'].value_counts()

감사의견코드
0.0    236730
1.0     23337
Name: count, dtype: int64

In [30]:
def 다음_행_인덱스_출력(dataframe):
    for 인덱스, 행 in dataframe.iterrows():
        try:
            if int(인덱스) < len(dataframe.index) - 1:
                다음_행 = dataframe.iloc[int(인덱스) + 1]
                if not 행.equals(다음_행):
                    return int(인덱스) + 1
        except ValueError:
            continue
    return None

### 부동산투자회사라고 끝나는 회사 : 792개
### 금융투자주식회사라고 끝나는 회사 : 128개

In [33]:
df2[df2.index.str.endswith('부동산투자회사')]

,거래소코드,회계년도,산업코드,산업명,설립일,상장일,기업규모코드,감사의견코드
회사명,,,,,,,,
(주)대림제5호천안원성동기업형임대위탁관리부동산투자회사,102627,2021/12,126801,부동산업,2016/12/15,0,20.0,NaN
(주)대림제5호천안원성동기업형임대위탁관리부동산투자회사,102627,2022/12,126801,부동산업,2016/12/15,0,10.0,0.0
(주)에이치디씨민간임대주택제1호위탁관리부동산투자회사,86903,2017/12,126800,부동산업,2017/07/19,0,30.0,NaN
(주)에이치디씨민간임대주택제1호위탁관리부동산투자회사,86903,2018/12,126800,부동산업,2017/07/19,0,10.0,0.0
(주)에이치디씨민간임대주택제1호위탁관리부동산투자회사,86903,2019/12,126800,부동산업,2017/07/19,0,10.0,0.0
...,...,...,...,...,...,...,...,...
케이알원기업구조조정부동산투자회사,52587,2015/12,126801,부동산업,2007/10/26,0,30.0,0.0
케이알원기업구조조정부동산투자회사,52587,2016/12,126801,부동산업,2007/10/26,0,30.0,0.0
케이알원기업구조조정부동산투자회사,52587,2017/12,126801,부동산업,2007/10/26,0,30.0,0.0
케이알원기업구조조정부동산투자회사,52587,2018/12,126801,부동산업,2007/10/26,0,30.0,0.0
플러스타제1호기업구조조정부동산투자회사,58215,2012/12,126801,부동산업,2009/02/22,0,30.0,0.0

In [35]:
df2[df2.index.str.endswith('금융투자주식회사')]

,거래소코드,회계년도,산업코드,산업명,설립일,상장일,기업규모코드,감사의견코드
회사명,,,,,,,,
강동프로젝트금융투자주식회사,63775,2012/12,126802,부동산업,2011/04/25,0,20.0,0.0
강동프로젝트금융투자주식회사,63775,2013/12,126802,부동산업,2011/04/25,0,10.0,0.0
강동프로젝트금융투자주식회사,63775,2014/12,126802,부동산업,2011/04/25,0,10.0,0.0
강동프로젝트금융투자주식회사,63775,2015/12,126802,부동산업,2011/04/25,0,10.0,0.0
서울복합물류프로젝트금융투자주식회사,63015,2012/12,126801,부동산업,2011/08/01,0,10.0,0.0
...,...,...,...,...,...,...,...,...
와이이십이프로젝트금융투자주식회사,45382,2021/12,126801,부동산업,2005/04/28,0,30.0,0.0
와이이십이프로젝트금융투자주식회사,45382,2022/12,126801,부동산업,2005/04/28,0,30.0,0.0
인사동프로젝트금융투자주식회사,98028,2020/12,126800,부동산업,2017/03/06,0,20.0,NaN
인사동프로젝트금융투자주식회사,98028,2021/12,126800,부동산업,2017/03/06,0,30.0,0.0
인사동프로젝트금융투자주식회사,98028,2022/12,126800,부동산업,2017/03/06,0,30.0,0.0

In [38]:
# import numpy as np
# mask = df.index == df.index.shift(-1)
# df['return_rate'] = np.where(mask, df['column_name'] / df['column_name'].shift(-1) - 1, np.nan)