## 데이터 EDA과정

In [56]:
import pandas as pd

In [57]:
df=pd.read_csv('./Dataset/mk_target.csv',encoding='euc-kr',index_col=0)
df

                    거래소코드     회계년도 감사의견코드
회사명
(유)그룹세브코리아          13171  2019/12    NaN
(유)그룹세브코리아          13171  2020/12     UQ
(유)그룹세브코리아          13171  2021/12     UQ
(유)그룹세브코리아          13171  2022/12     UQ
(유)디에스브이에어앤씨인터내셔널  104275  2021/12    NaN
...                   ...      ...    ...
힐중공업주식회사            82007  2017/12     QS
힐중공업주식회사            82007  2018/12     QU
（주）신미코스메틱           85105  2017/12    NaN
（주）신미코스메틱           85105  2018/12     UQ
（주）신미코스메틱           85105  2019/12     UQ

[294820 rows x 3 columns]

In [58]:
df.isna().sum()

거래소코드         0
회계년도          0
감사의견코드    32934
dtype: int64

In [59]:
df[df['감사의견코드']=='ZZ']

           거래소코드     회계년도 감사의견코드
회사명
(주)제이더블유엘  58276  2012/12     ZZ

In [60]:
df['감사의견코드'].value_counts()

감사의견코드
UQ    239780
QS     13023
DU      3604
DS      2559
QG      1208
QU      1152
AG       527
QQ        27
QA         4
ZZ         1
DI         1
Name: count, dtype: int64

In [61]:
df['감사의견코드']=df['감사의견코드'].map({
    'AG':'부적정',
    'DS':'의견거절',
    'DI':'의견거절',
    'DU':'의견거절',
    'QA':'한정',
    'QC':'한정',
    'QG':'한정',
    'QQ':'한정',
    'QS':'한정',
    'QU':'한정',
    'UQ':'적정',
    'ZZ':'ZZ'

})

In [62]:
df['감사의견코드'].isna().sum()

32934

In [63]:
df['감사의견코드'].value_counts()

감사의견코드
적정      239780
한정       15414
의견거절      6164
부적정        527
ZZ           1
Name: count, dtype: int64

In [64]:
(15414+6164+527)/239780

0.09218867295020436

In [65]:
(15414+6164+527)

22105

In [66]:
df.isna().sum()

거래소코드         0
회계년도          0
감사의견코드    32934
dtype: int64

* 감사의견 코드 ZZ가 뭘까?

In [67]:
df[df['감사의견코드']=='ZZ']

           거래소코드     회계년도 감사의견코드
회사명
(주)제이더블유엘  58276  2012/12     ZZ

In [68]:
df['감사의견코드']=df['감사의견코드'].map({
    '적정':0,
    '한정':1,
    '부적정':1,
    '의견거절':1

})

In [69]:
df['감사의견코드'].value_counts()

감사의견코드
0.0    239780
1.0     22105
Name: count, dtype: int64

In [70]:
len(df[df['감사의견코드']==0].index.unique())

40775

In [71]:
len(df[df['감사의견코드']==1].index.unique())

14793

In [72]:
df1=pd.read_csv('./Dataset/중견1.csv',encoding='euc-kr',index_col=0)
df2=pd.read_csv('./Dataset/중견2.csv',encoding='euc-kr',index_col=0)
df=pd.concat([df1,df2],axis=0)

In [73]:
df.to_csv('중견기업.csv',encoding='euc-kr')

In [74]:
len(df.index.unique())

5568

In [75]:
#########################################################################################################################################################

In [76]:
df2=pd.read_csv('./Dataset/mk_target2.csv',encoding='euc-kr',index_col=0)

In [77]:
len(df2.index.unique())

51261

In [78]:
df2['감사의견코드'].value_counts()

감사의견코드
UQ    236730
QS     13901
DU      3772
DS      2632
QG      1272
QU      1194
AG       533
QQ        28
QA         4
ZZ         1
DI         1
Name: count, dtype: int64

In [79]:
df2['감사의견코드']=df2['감사의견코드'].map({
    'AG':'부적정',
    'DS':'의견거절',
    'DI':'의견거절',
    'DU':'의견거절',
    'QA':'한정',
    'QC':'한정',
    'QG':'한정',
    'QQ':'한정',
    'QS':'한정',
    'QU':'한정',
    'UQ':'적정',
    'ZZ':'ZZ'

})

In [80]:
df2['감사의견코드']=df2['감사의견코드'].map({
    '적정':0,
    '한정':1,
    '부적정':1,
    '의견거절':1

})

In [81]:
df2['감사의견코드'].value_counts()

감사의견코드
0.0    236730
1.0     23337
Name: count, dtype: int64

In [82]:
len(df2[df2['감사의견코드']==0].index.unique())

45694

In [83]:
len(df2[df2['감사의견코드']==1].index.unique())

16276

In [84]:
len(df2.index.unique())

51261

In [85]:
df2.isna().sum()

거래소코드         0
회계년도          0
산업코드          0
산업명           0
설립일         297
상장일          12
기업규모코드     2961
감사의견코드    34006
dtype: int64

In [86]:
len(df2[df2['감사의견코드']==1].index.unique())

16276

In [87]:
df2['감사의견코드'].value_counts()

감사의견코드
0.0    236730
1.0     23337
Name: count, dtype: int64

In [88]:
def 다음_행_인덱스_출력(dataframe):
    for 인덱스, 행 in dataframe.iterrows():
        try:
            if int(인덱스) < len(dataframe.index) - 1:
                다음_행 = dataframe.iloc[int(인덱스) + 1]
                if not 행.equals(다음_행):
                    return int(인덱스) + 1
        except ValueError:
            continue
    return None

### 부동산투자회사라고 끝나는 회사 : 792개
### 금융투자주식회사라고 끝나는 회사 : 128개

In [89]:
df2.index = df2.index.astype(str)
df2.drop(df2.index[df2.index.str.endswith('부동산투자회사')], axis=0, inplace=True)
df2.drop(df2.index[df2.index.str.endswith('금융투자주식회사')], axis=0, inplace=True)
df2.drop(df2.index[df2.index.str.contains('리츠')], axis=0, inplace=True)

In [90]:
df2[df2.index.str.contains('힘')]

,거래소코드,회계년도,산업코드,산업명,설립일,상장일,기업규모코드,감사의견코드
회사명,,,,,,,,
(주)라힘컴퍼니,96136,2019/12,126801,부동산업,2019/04/01,0,20.0,NaN
(주)라힘컴퍼니,96136,2020/12,126801,부동산업,2019/04/01,0,20.0,1.0
(주)라힘컴퍼니,96136,2021/12,126801,부동산업,2019/04/01,0,20.0,0.0
주식회사힘찬개발,96328,2019/12,126801,부동산업,2018/09/13,0,20.0,NaN
주식회사힘찬개발,96328,2020/12,126801,부동산업,2018/09/13,0,20.0,0.0
...,...,...,...,...,...,...,...,...
현대힘스주식회사,54829,2018/12,33101,기타 운송장비 제조업,2008/04/25,0,10.0,0.0
현대힘스주식회사,54829,2019/12,33101,기타 운송장비 제조업,2008/04/25,0,30.0,0.0
현대힘스주식회사,54829,2020/12,33101,기타 운송장비 제조업,2008/04/25,0,30.0,0.0
현대힘스주식회사,54829,2021/12,33101,기타 운송장비 제조업,2008/04/25,0,30.0,0.0
현대힘스주식회사,54829,2022/12,33101,기타 운송장비 제조업,2008/04/25,0,30.0,0.0

In [91]:
# df2[df2.index.str.endswith('금융투자주식회사')]

In [92]:
# df2[df2.index.str.contains('리츠')]

In [103]:
# df2[df2.index.str.contains('카카오')]

In [37]:
# import numpy as np
# mask = df.index == df.index.shift(-1)
# df['return_rate'] = np.where(mask, df['column_name'] / df['column_name'].shift(-1) - 1, np.nan)

In [38]:
df2.groupby(df2['산업명']).count()

                              거래소코드  회계년도  산업코드   설립일   상장일  기업규모코드  감사의견코드
산업명
  1차 금속 제조업                    7746  7746  7746  7735  7746    7706    7214
  가구 제조업                        760   760   760   760   760     749     661
  가죽, 가방 및 신발 제조업              1035  1035  1035  1024  1035    1024     935
  개인 및 소비용품 수리업                 342   342   342   342   342     336     291
  건축기술, 엔지니어링 및 기타 과학기술 서비스업   2897  2897  2897  2879  2897    2874    2591
...                             ...   ...   ...   ...   ...     ...     ...
  하수, 폐수 및 분뇨 처리업               782   782   782   782   782     779     737
  항공 운송업                        166   166   166   155   166     164     149
  협회 및 단체                       241   241   241   230   241     225     181
  화학물질 및 화학제품 제조업; 의약품 제외      8771  8771  8771  8771  8771    8708    8065
  환경 정화 및 복원업                    81    81    81    81    81      81      74

[72 rows x 7 columns]

In [39]:
len(df2[df2['감사의견코드']==0].index.unique())

45459

In [40]:
len(df2[df2['감사의견코드']==1].index.unique())

16264

In [41]:
df2[df2['감사의견코드']==1].index.unique()

Index(['(주)더클래식씨씨', '(주)동주피앤지', '(주)선진햄', '(주)순천에코트랜스', '(주)아름덴티스트리',
       '(주)아트서비스', '(주)에코비트에너지경주', '(주)일성', '(주)크리오텍', '(주)텐바이텐',
       ...
       '한양개발(주)', '한양기초개발주식회사', '한욱테크노글라스(주)', '한울정보기술주식회사', '한유주택주식회사',
       '한일건설(주)', '한일전기씨에스주식회사', '현일산업주식회사', '화인디피아(주)', '휴젤파마(주)'],
      dtype='object', name='회사명', length=16264)

In [42]:
df2['감사의견코드'].value_counts()

감사의견코드
0.0    235933
1.0     23313
Name: count, dtype: int64

In [43]:
###########################################################################################################################################################3

In [44]:
df2=pd.read_csv('./Dataset/mk_target2.csv',encoding='euc-kr')

In [45]:
# df2['감사의견코드']=df2['감사의견코드'].map({
#     'AG':'부적정',
#     'DS':'의견거절',
#     'DI':'의견거절',
#     'DU':'의견거절',
#     'QA':'한정',
#     'QC':'한정',
#     'QG':'한정',
#     'QQ':'한정',
#     'QS':'한정',
#     'QU':'한정',
#     'UQ':'적정',
#     'ZZ':'ZZ'

# })

In [46]:
df2['감사의견코드']=df2['감사의견코드'].map({
    'AG': 1,
    'DS':1,
    'DI':1,
    'DU':1,
    'QA':0,
    'QC':0,
    'QG':0,
    'QQ':0,
    'QS':1,
    'QU':0,
    'UQ':0,
    'ZZ':1

})

In [47]:
df2['감사의견코드'].value_counts()

감사의견코드
0.0    239228
1.0     20840
Name: count, dtype: int64

In [48]:
df2

,회사명,거래소코드,회계년도,산업코드,산업명,설립일,상장일,기업규모코드,감사의견코드
0,(주)KAL호텔네트워크,29255,2012/12,95501,숙박업,2001/05/16,0000/00/00,10.0,0.0
1,(주)KAL호텔네트워크,29255,2013/12,95501,숙박업,2001/05/16,0000/00/00,10.0,0.0
2,(주)KAL호텔네트워크,29255,2014/12,95501,숙박업,2001/05/16,0000/00/00,10.0,0.0
3,(주)KAL호텔네트워크,29255,2015/12,95501,숙박업,2001/05/16,0000/00/00,10.0,0.0
4,(주)KAL호텔네트워크,29255,2016/12,95501,숙박업,2001/05/16,0000/00/00,10.0,0.0
...,...,...,...,...,...,...,...,...,...
294068,힐티코리아주식회사,10534,2018/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,0.0
294069,힐티코리아주식회사,10534,2019/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,0.0
294070,힐티코리아주식회사,10534,2020/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,0.0
294071,힐티코리아주식회사,10534,2021/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,20.0,0.0
294072,힐티코리아주식회사,10534,2022/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,0.0

In [136]:
df2[df2.index.str.contains('이삭엔지')].head(20)

,거래소코드,회계년도,산업코드,산업명,설립일,상장일,기업규모코드,감사의견코드
회사명,,,,,,,,
이삭엔지니어링(주),76535,2015/12,106201,"컴퓨터 프로그래밍, 시스템 통합 및 관리업",2007/01/01,0,20.0,NaN
이삭엔지니어링(주),76535,2016/12,106201,"컴퓨터 프로그래밍, 시스템 통합 및 관리업",2007/01/01,0,20.0,0.0
이삭엔지니어링(주),76535,2017/12,106201,"컴퓨터 프로그래밍, 시스템 통합 및 관리업",2007/01/01,0,20.0,0.0
이삭엔지니어링(주),76535,2018/12,106201,"컴퓨터 프로그래밍, 시스템 통합 및 관리업",2007/01/01,0,20.0,0.0
이삭엔지니어링(주),76535,2019/12,106201,"컴퓨터 프로그래밍, 시스템 통합 및 관리업",2007/01/01,0,20.0,0.0
이삭엔지니어링(주),76535,2020/12,106201,"컴퓨터 프로그래밍, 시스템 통합 및 관리업",2007/01/01,0,20.0,0.0

> 밑에는 감사의견코드 0 -> 1로 바꾸는 코드 / 회생절차 신청 및 파산신청

In [50]:
df2.iloc[261945,8] =1.0