In [1]:
import pandas as pd

In [5]:
df1=pd.read_csv('./Dataset/개별/개별_1.csv',encoding='euc-kr')
df2=pd.read_csv('./Dataset/개별/개별_2.csv',encoding='euc-kr')
df3=pd.read_csv('./Dataset/개별/개별_3.csv',encoding='euc-kr')
df4=pd.read_csv('./Dataset/개별/개별_4.csv',encoding='euc-kr')
df5=pd.read_csv('./Dataset/개별/개별_5.csv',encoding='euc-kr')
df6=pd.read_csv('./Dataset/개별/개별_6.csv',encoding='euc-kr')
df7=pd.read_csv('./Dataset/개별/개별_7.csv',encoding='euc-kr')
df8=pd.read_csv('./Dataset/개별/개별_8.csv',encoding='euc-kr')
df9=pd.read_csv('./Dataset/개별/개별_9.csv',encoding='euc-kr')
df10=pd.read_csv('./Dataset/개별/개별_10.csv',encoding='euc-kr')
df11=pd.read_csv('./Dataset/개별/개별_11.csv',encoding='euc-kr')
df12=pd.read_csv('./Dataset/개별/개별_12.csv',encoding='euc-kr')
df13=pd.read_csv('./Dataset/개별/개별_13.csv',encoding='euc-kr')
df14=pd.read_csv('./Dataset/개별/개별_14.csv',encoding='euc-kr')

In [30]:
df_외감개별=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14],axis=0)
df_외감연결=pd.read_csv('./외감기업(IFRS연결).csv',encoding='euc-kr')
df_외감가프=pd.read_csv('./외감기업(GAAP).csv',encoding='euc-kr',index_col=0)

In [8]:
# df.to_csv('외감기업(IFRS개별).csv',index=False,encoding='euc-kr')

In [24]:
df11.head(5)

,회사명,거래소코드,회계년도,통계청 한국표준산업분류 코드 10차(대분류),부채비율,당좌비율,유동비율,이자보상배율(이자비용),영업활동으로 인한 현금흐름(간접법)(*)(IFRS)(천원),이자비용(IFRS)(천원),...,노동소득분배율,자본분배율,이윤분배율,투자활동으로 인한 현금흐름(*)(IFRS)(천원),재무활동으로 인한 현금흐름(*)(IFRS)(천원),자산(*)(IFRS)(천원),부채(*)(IFRS)(천원),자본(*)(IFRS)(천원),연구개발비(IFRS)(천원),* (정상)영업손익(보고서기재)(IFRS)(천원)
0,(유)주영산업개발,93799,2019/12,41,31.79,1187.82,2341.71,-5.55,NaN,NaN,...,122.54,-22.54,175.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(유)주영산업개발,93799,2020/12,41,25.83,685.14,1067.87,3763.72,NaN,NaN,...,41.00,59.00,141.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(유)주영산업개발,93799,2021/12,41,13.01,442.32,947.72,58.09,NaN,NaN,...,7.92,92.08,79.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(유)주영산업개발,93799,2022/12,41,5.85,1029.36,2540.68,-7.47,NaN,NaN,...,101.52,-1.52,218.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(유)중산MOTORS,105441,2021/12,45,594.61,38.38,61.70,1.90,NaN,NaN,...,43.15,56.85,21.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df_외감개별['* (정상)영업손익(보고서기재)(IFRS)(천원)'].isna().sum()

271086

In [33]:
df_외감가프['연구비'] +=df_외감가프['경상개발비(요약)(백만원)']
df_외감가프.drop('경상개발비(요약)(백만원)',axis=1,inplace=True)

In [34]:
df_외감가프

,회사명,거래소코드,회계년도,통계청 한국표준산업분류 코드 10차(대분류),부채비율,당좌비율,유동비율,이자보상배율(이자비용),영업활동으로 인한 현금흐름(*)(천원),이자비용(천원),...,노동소득분배율,자본분배율,이윤분배율,투자활동으로 인한 현금흐름(*)(천원),재무활동으로 인한 현금흐름(*)(천원),자산(*)(천원),부채(*)(천원),자본(*)(천원),연구비,영업이익(요약)(백만원)
0,(유)가든주류,97082,2019/12,46,178.34,213.01,243.06,3.17,138498.0,628271.0,...,52.01,47.99,22.12,-1972954.0,1982120.0,33246572.0,21302019.0,11944553.0,3984.0,NaN
1,(유)가든주류,97082,2020/12,46,361.81,115.89,128.39,1.29,-341826.0,476716.0,...,72.08,27.92,8.72,-914119.0,892418.0,32940746.0,25807747.0,7132998.0,1230.0,NaN
2,(유)가든주류,97082,2021/12,46,281.83,176.11,186.39,0.29,130657.0,476252.0,...,65.67,34.33,13.86,4066202.0,-4287909.0,29500238.0,21774189.0,7726049.0,274.0,NaN
3,(유)가든주류,97082,2022/12,46,0.00,28.33,35.17,-1.44,-26425950.0,1914030.0,...,267.60,-167.60,-397.51,13539698.0,13075530.0,9861648.0,34820255.0,-24958607.0,-5498.0,NaN
4,(유)그룹세브코리아,13171,2019/12,46,147.02,92.20,158.78,25.79,14297932.0,468007.0,...,32.33,67.67,36.71,-718431.0,-14582988.0,50917276.0,30304375.0,20612901.0,24140.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3455,힐티코리아주식회사,10534,2021/12,46,83.55,116.00,204.04,16.92,1399525.0,170487.0,...,75.29,24.71,8.53,-580519.0,-5714997.0,57962904.0,26384600.0,31578304.0,5770.0,NaN
3456,힐티코리아주식회사,10534,2022/12,46,108.21,95.88,182.33,45.26,8906854.0,173153.0,...,64.77,35.23,18.72,-621622.0,-2228349.0,80263333.0,41714240.0,38549093.0,15676.0,NaN
3457,（주）신미코스메틱,85105,2017/12,46,31.40,416.15,416.15,19368.35,13717057.0,1309.0,...,1.49,98.51,76.19,-2137038.0,-227960.0,27238719.0,6508768.0,20729950.0,50706.0,NaN
3458,（주）신미코스메틱,85105,2018/12,46,15.51,677.00,755.04,7918.22,18445523.0,2475.0,...,4.86,95.14,59.64,-15323100.0,-1574040.0,30667235.0,4117284.0,26549952.0,39196.0,NaN
3459,（주）신미코스메틱,85105,2019/12,46,0.88,13972.49,14090.52,178.42,4645976.0,2217.0,...,0.00,0.00,0.00,-13951242.0,-3100000.0,21393335.0,186687.0,21206648.0,792.0,NaN

In [36]:
df2.shape

(24610, 50)