In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('./Dataset/추가/추가_1.csv',encoding='euc-kr')
df2=pd.read_csv('./Dataset/추가/추가_2.csv',encoding='euc-kr')
df3=pd.read_csv('./Dataset/추가/추가_3.csv',encoding='euc-kr')
df4=pd.read_csv('./Dataset/추가/추가_4.csv',encoding='euc-kr')
df5=pd.read_csv('./Dataset/추가/추가_5.csv',encoding='euc-kr')
df6=pd.read_csv('./Dataset/추가/추가_6.csv',encoding='euc-kr')
df7=pd.read_csv('./Dataset/추가/추가_7.csv',encoding='euc-kr')
df8=pd.read_csv('./Dataset/추가/추가_8.csv',encoding='euc-kr')
df9=pd.read_csv('./Dataset/추가/추가_9.csv',encoding='euc-kr')
df10=pd.read_csv('./Dataset/추가/추가_10.csv',encoding='euc-kr')
df11=pd.read_csv('./Dataset/추가/추가_11.csv',encoding='euc-kr')
df12=pd.read_csv('./Dataset/추가/추가_12.csv',encoding='euc-kr')
df13=pd.read_csv('./Dataset/추가/추가_13.csv',encoding='euc-kr')
df14=pd.read_csv('./Dataset/추가/추가_14.csv',encoding='euc-kr')

In [3]:
df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14],axis=0).reset_index(drop=True)

In [4]:
df=df.drop([185011,126614],axis=0).reset_index(drop=True)

In [5]:
df_=pd.read_csv('./Dataset/외감raw.csv',encoding='euc-kr')

In [6]:
from collections import Counter

list1 = df_['회사명']
list2 = df['회사명']
counter1 = Counter(list1)
counter2 = Counter(list2)

different_elements = []

for element, count in counter1.items():
    if count != counter2[element]:
        different_elements.append(element)

print("두 리스트에서 이름이 같지만 개수가 다른 요소들:", different_elements)

두 리스트에서 이름이 같지만 개수가 다른 요소들: []

- (주)우성코퍼레이션,주식회사뷰케이코리아가 추가시점에 추가정보가 올라옴--> drop해줌

In [7]:
df.columns

Index(['회사명', '거래소코드', '회계년도', '통계청 한국표준산업분류 코드 10차(대분류)',
       '통계청 한국표준산업분류 10차(대분류)', '자본금(*)(IFRS연결)(천원)', '자본금(*)(IFRS)(천원)',
       '자본금(*)(천원)', '* (정상)영업손익(보고서기재)(IFRS연결)(천원)',
       '* (정상)영업손익(보고서기재)(IFRS)(천원)', '영업이익(손실)(천원)'],
      dtype='object')

In [8]:
df.isna().sum()

회사명                                   0
거래소코드                                 0
회계년도                                  0
통계청 한국표준산업분류 코드 10차(대분류)              0
통계청 한국표준산업분류 10차(대분류)                 0
자본금(*)(IFRS연결)(천원)               289617
자본금(*)(IFRS)(천원)                 271086
자본금(*)(천원)                           85
* (정상)영업손익(보고서기재)(IFRS연결)(천원)    289617
* (정상)영업손익(보고서기재)(IFRS)(천원)      271086
영업이익(손실)(천원)                         85
dtype: int64

In [9]:
df['자본금(*)(IFRS연결)(천원)'] = df.apply(lambda row: row['자본금(*)(IFRS)(천원)'] if pd.isna(row['자본금(*)(IFRS연결)(천원)']) else row['자본금(*)(IFRS연결)(천원)'], axis=1)

In [10]:
df.isna().sum()

회사명                                   0
거래소코드                                 0
회계년도                                  0
통계청 한국표준산업분류 코드 10차(대분류)              0
통계청 한국표준산업분류 10차(대분류)                 0
자본금(*)(IFRS연결)(천원)               271079
자본금(*)(IFRS)(천원)                 271086
자본금(*)(천원)                           85
* (정상)영업손익(보고서기재)(IFRS연결)(천원)    289617
* (정상)영업손익(보고서기재)(IFRS)(천원)      271086
영업이익(손실)(천원)                         85
dtype: int64

In [11]:
df['자본금(*)(IFRS연결)(천원)'] = df.apply(lambda row: row['자본금(*)(천원)'] if pd.isna(row['자본금(*)(IFRS연결)(천원)']) else row['자본금(*)(IFRS연결)(천원)'], axis=1)

In [12]:
df.isna().sum()

회사명                                   0
거래소코드                                 0
회계년도                                  0
통계청 한국표준산업분류 코드 10차(대분류)              0
통계청 한국표준산업분류 10차(대분류)                 0
자본금(*)(IFRS연결)(천원)                   78
자본금(*)(IFRS)(천원)                 271086
자본금(*)(천원)                           85
* (정상)영업손익(보고서기재)(IFRS연결)(천원)    289617
* (정상)영업손익(보고서기재)(IFRS)(천원)      271086
영업이익(손실)(천원)                         85
dtype: int64

In [13]:
df['* (정상)영업손익(보고서기재)(IFRS연결)(천원)'] = df.apply(lambda row: row['* (정상)영업손익(보고서기재)(IFRS)(천원)'] if pd.isna(row['* (정상)영업손익(보고서기재)(IFRS연결)(천원)']) else row['* (정상)영업손익(보고서기재)(IFRS연결)(천원)'], axis=1)
df['* (정상)영업손익(보고서기재)(IFRS연결)(천원)'] = df.apply(lambda row: row['영업이익(손실)(천원)'] if pd.isna(row['* (정상)영업손익(보고서기재)(IFRS연결)(천원)']) else row['* (정상)영업손익(보고서기재)(IFRS연결)(천원)'], axis=1)

In [14]:
df.isna().sum()

회사명                                   0
거래소코드                                 0
회계년도                                  0
통계청 한국표준산업분류 코드 10차(대분류)              0
통계청 한국표준산업분류 10차(대분류)                 0
자본금(*)(IFRS연결)(천원)                   78
자본금(*)(IFRS)(천원)                 271086
자본금(*)(천원)                           85
* (정상)영업손익(보고서기재)(IFRS연결)(천원)        78
* (정상)영업손익(보고서기재)(IFRS)(천원)      271086
영업이익(손실)(천원)                         85
dtype: int64

In [15]:
df.drop(['거래소코드','회계년도','통계청 한국표준산업분류 코드 10차(대분류)','자본금(*)(IFRS)(천원)','자본금(*)(천원)','* (정상)영업손익(보고서기재)(IFRS)(천원)','영업이익(손실)(천원)'],axis=1,inplace=True)

In [18]:
(df['회사명']== df_['회사명']).value_counts()

회사명
True    295975
Name: count, dtype: int64

In [98]:
df_.drop('* (정상)영업손익(보고서기재)(IFRS연결)(천원)',inplace=True,axis=1)

In [100]:
df_total=pd.concat([df_,df], axis=1)

In [103]:
# df_total.to_csv('외감raw2.csv',index=False,encoding='euc-kr')