In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('./Dataset/kospi+kodaq_dp(등급).xls')

In [7]:
df.columns=['Kis','거래소코드','회사이름','신용평점']

In [10]:
df=df.drop(0,axis=0)

In [14]:
pd.reset_option('display.max_rows',None)
df.sort_values('신용평점',ascending=True)

         Kis   거래소코드         회사이름 신용평점
1898  C55334  133750      메가엠디(주)    A
444   381543  015230      대창단조(주)    A
1026  123840  051160     (주)지어소프트    A
1762  667269  053160      (주)프리엠스    A
1760  661538  031980  피에스케이홀딩스(주)    A
...      ...     ...          ...  ...
1926  CD4883  215090       (주)휴센텍    D
2172  J18071  299910       (주)베스파    D
1342  218590  138690     (주)엘아이에스    D
591   662500  033180  케이에이치필룩스(주)    D
1059  129611  219750    (주)지티지웰니스    D

[2338 rows x 4 columns]